.todo{
  width: 600px;
  min-height: 700px;
  border-radius: 10px;
  background: #fff;
  margin: auto;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  padding: 0px 44px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.todo-header{
  margin-top: 80px;
  color: #2569d6;
  font-size: 40px;
  font-weight: 600;
  line-height: 30px;
}
.todo-add{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.todo-input{
  border-radius: 40px;
  background: #edeef0;
  border: none;
  outline: none;
  width: 500px;
  height: 80px;
  padding-left: 35px;
  font-size: 20px;
}
.todo-add-btn{
  border-radius: 40px;
  background-color: #2569d6;
  color: #fff;
  width: 180px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;

}